In [1]:
import pandas as pd
import os as os
import numpy as np

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'ccFraud.csv',
 'descriptive stats code.ipynb',
 'descriptive stats in Python.ipynb',
 'dv py 1.ipynb',
 'iris.csv',
 'python_with_postgres.ipynb',
 'telco_csv.csv',
 'telco_csv2.csv']

In [4]:
fraud=pd.read_csv("ccFraud.csv")

In [5]:
fraud2=fraud

In [6]:
fraud3=fraud.copy()

In [7]:
#data type
type(fraud)

pandas.core.frame.DataFrame

In [8]:
#list columns
fraud.columns

Index(['custID', 'gender', 'state', 'cardholder', 'balance', 'numTrans',
       'numIntlTrans', 'creditLine', 'fraudRisk'],
      dtype='object')

In [10]:
#column type
fraud.dtypes

custID          int64
gender          int64
state           int64
cardholder      int64
balance         int64
numTrans        int64
numIntlTrans    int64
creditLine      int64
fraudRisk       int64
dtype: object

In [12]:
#get info - dtype + class + no. of obs + memory usage
fraud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 9 columns):
custID          int64
gender          int64
state           int64
cardholder      int64
balance         int64
numTrans        int64
numIntlTrans    int64
creditLine      int64
fraudRisk       int64
dtypes: int64(9)
memory usage: 686.6 MB

In [13]:
#memory used by each column
fraud.memory_usage()

Index                 80
custID          80000000
gender          80000000
state           80000000
cardholder      80000000
balance         80000000
numTrans        80000000
numIntlTrans    80000000
creditLine      80000000
fraudRisk       80000000
dtype: int64

In [14]:
#total memory usage
fraud.memory_usage(index=True).sum()

720000080

In [16]:
#dimensions of dataframe
fraud.shape

(10000000, 9)

In [17]:
#total no. of cells
fraud.size

90000000

In [18]:
#no. of observations/Rows ; in R we have nrows()
len(fraud)

10000000

In [23]:
#no. of columns
len(fraud.columns)

9

In [24]:
#head
fraud.head()

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk
0,1,1,35,1,3000,4,14,2,0
1,2,2,2,1,0,9,0,18,0
2,3,2,2,1,0,27,9,16,0
3,4,1,15,1,0,12,0,5,0
4,5,1,46,1,0,11,16,7,0

In [25]:
#tail; default = 5
fraud.tail(10)

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk
9999990,9999991,1,16,2,1561,8,0,5,0
9999991,9999992,2,36,1,5217,6,0,5,0
9999992,9999993,1,38,1,0,7,0,2,0
9999993,9999994,2,43,1,2607,6,0,5,0
9999994,9999995,1,16,2,17376,3,0,20,0
9999995,9999996,1,37,1,0,10,0,9,0
9999996,9999997,1,16,1,0,33,2,4,0
9999997,9999998,1,24,1,9000,38,0,8,0
9999998,9999999,1,28,1,7000,20,19,6,0
9999999,10000000,1,23,1,0,13,0,7,0

In [30]:
#chaining: 1st 5 values of a column say gender
#all give same output
print(fraud.head().gender)

print(fraud.gender.head())

print(fraud['gender'].head())

0    1
1    2
2    2
3    1
4    1
Name: gender, dtype: int64
0    1
1    2
2    2
3    1
4    1
Name: gender, dtype: int64
0    1
1    2
2    2
3    1
4    1
Name: gender, dtype: int64

In [31]:
#multiple columns using [[]] : double brackets
#similar to c() in R
fraud[['gender','state','fraudRisk']].head()

   gender  state  fraudRisk
0       1     35          0
1       2      2          0
2       2      2          0
3       1     15          0
4       1     46          0

In [34]:
#same as above
fraud.iloc[:5,[1,2,8]]

   gender  state  fraudRisk
0       1     35          0
1       2      2          0
2       2      2          0
3       1     15          0
4       1     46          0

In [36]:
#same as above
fraud.ix[:4,[1,2,8]]

   gender  state  fraudRisk
0       1     35          0
1       2      2          0
2       2      2          0
3       1     15          0
4       1     46          0

In [38]:
#print rows 20:25
fraud[['gender','state','fraudRisk']].ix[20:25]

    gender  state  fraudRisk
20       1     39          0
21       1     34          0
22       1      5          0
23       2     21          0
24       1     25          0
25       2     29          0

In [42]:
#now we do sampling
#pick any 5 random no. less than 100
np.random.choice(100,5)

#picking 0.000001% sample size
x=np.random.choice(len(fraud),0.000001*len(fraud))

#pick random indexes
print(x) 
fraud.iloc[x] #or fraud.ix[x]

[6224247 6291758 6305857 8796203 7418151  768458 8546085 8021471 1932504
 1382229]

C:\Users\Chirag\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk
6224247,6224248,2,33,1,14866,12,0,30,1
6291758,6291759,1,44,1,6000,36,0,5,0
6305857,6305858,1,35,1,5000,10,31,4,0
8796203,8796204,2,26,1,0,13,0,6,0
7418151,7418152,1,45,1,0,33,0,5,0
768458,768459,1,31,1,10702,22,1,20,0
8546085,8546086,1,20,1,0,24,7,8,0
8021471,8021472,1,34,1,4000,17,0,3,0
1932504,1932505,1,10,1,9136,24,0,12,0
1382229,1382230,1,35,1,3000,4,0,2,0

In [43]:
#delete  a dataframe
d=fraud.copy()
del d

In [44]:
#delete  a dataframe
a=fraud.copy()
del a['gender']
a.head()

,custID,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk
0,1,35,1,3000,4,14,2,0
1,2,2,1,0,9,0,18,0
2,3,2,1,0,27,9,16,0
3,4,15,1,0,12,0,5,0
4,5,46,1,0,11,16,7,0

In [45]:
#drop multiple columns
b=fraud.copy()
b.drop(fraud.columns[[1, 5]], axis=1, inplace=True)
b.head()

   custID  state  cardholder  balance  numIntlTrans  creditLine  fraudRisk
0       1     35           1     3000            14           2          0
1       2      2           1        0             0          18          0
2       3      2           1        0             9          16          0
3       4     15           1        0             0           5          0
4       5     46           1        0            16           7          0

In [47]:
#drop rows 2-4
c=fraud.copy()
c.drop(c.index[[1,2,3]],inplace=True)
c.head()

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk
0,1,1,35,1,3000,4,14,2,0
4,5,1,46,1,0,11,16,7,0
5,6,2,44,2,5546,21,0,13,0
6,7,1,3,1,2000,41,0,1,0
7,8,1,10,1,6016,20,3,6,0

In [48]:
#create a series
s=pd.Series(range(1,101))
type(s)

pandas.core.series.Series